{{ define "edit" }}
{{template "header"}}
   {{template "menu"}}
   	<script>
 	var loadPhoto1 = function(event) {
    var output = document.getElementById('image1');
    output.src = URL.createObjectURL(event.target.files[0]);
	};
 </script>
	<form method="POST" action="doedit" enctype="multipart/form-data">
	<table border="1">
		<tr>
			<th>ID</th><td>{{.Userid}}</td>
		</tr>
		<tr>
			<th>Nama</th><td><input type="text" name="username" value="{{.Username}}" required="required"></td>
		</tr>
		<tr>
			<th>Email</th><td><input type="text" name="email" value="{{.Email}}" required="required"></td>
		</tr>
		<tr>
			<th>Password</th><td><input type="password" name="password">
			<input type="hidden" name="oldpassword" value="{{.Oldpass}}"></td>
		</tr>
		<tr>
			<th>Jekel</th>
			<td>
			<input type="radio" name="jekel" value="L" {{if eq .Jekel "L"}} checked="checked" {{end}}>Laki-laki 
			<input type="radio" name="jekel" value="P" {{if eq .Jekel "P"}} checked="checked" {{end}}>Perempuan
			</td>
		</tr>
		<tr>
			<th>Upload Foto</th><td>: <input type="file" accept="image/*" name="file" onchange="loadPhoto1(event)"><br><img src="upload/{{.Foto}}" id="image1"></td>
		</tr>
	</table>
	<input type="hidden" name="userid" value="{{.Userid}}">
	<input type="submit" value="Ubah">
	</form>
{{template "footer"}}
 {{ end }}