{{ define "home" }}
{{template "header"}}
{{template "menu"}}
     <input type="button" value="Ke Halaman User" onClick="location.href='user'">
	<form method="POST" action="home" enctype="multipart/form-data">
	<table>
		<tr>
			<td>ID </td><td>: <input type="text" name="userid"></td>
		</tr>
		<tr>
			<td>Nama</td><td>: <input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Email</td><td>: <input type="text" name="email"></td>
		</tr>
		<tr>
			<td>Password</td><td>: <input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Jekel</td><td>: <input type="radio" name="Jekel" value="L">Laki-laki <input type="radio" name="Jekel" value="P">Perempuan</td>
		</tr>
		<tr>
			<td>Upload Foto</td><td>: <input type="file" name="file"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Tambah Data" name="submit"></td>
			<td><input type="submit" value="Cari Data" name="submit"></td>
		</tr>
	</table>
	</form>
	<hr>
	<button onClick="location.href='download'">Download ke Excel</button>
	<button onClick="location.href='upload'">Upload dari Excel</button>
	<table border="1">
		<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Nama</th>
			<th>Email</th>
			<th>Jekel</th>
			<th>Option</th>
		</tr>
		</thead>
		<tbody>
		 {{ range . }}
			<tr>
				<td><img src="/upload/{{ .Foto }}" width="75" height="60"></td>
				<td>{{ .Userid }}</td>
				<td>{{ .Username }}</td>
				<td>{{ .Email }}</td>
				<td>{{ .Jekel }}</td>
				<td>
				<a href="/edit?id={{ .Userid }}" data-id="{{ .Userid }}">Ubah</a>
				<a href="/delete?id={{ .Userid }}" data-id="{{ .Userid }}" onClick="return confirm('Hapus Data?')">Hapus</a>
				</td>
			</tr>
		 {{ end }}
		</tbody>
	</table>
{{template "footer"}}
{{ end }}}
